/*Button: Edit Produts*/
.buttoni{
position: relative;
    height: 40px;
    width: 200px;
    background: #87CEF5;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    overflow: hidden;
    left: 85%;
}
.buttoni.active{
  height: 20px;
  width: 200px;
}
.buttoni::before{
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  height: 100%;
  width: 100%;
  background: #669ab6;
  border-radius: 55px;
  transition: all 3s ease-in-out;
}
.buttoni.active::before{
  animation: layer 3s ease-in-out forwards;
}
@keyframes layer {
  100%{
    left: 0%;
  }
}
.buttoni .content{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
  transition-delay: 0.2s;
  margin: 0;
}
.buttoni.active .content{
  transform: translateY(60px);
}
.buttoni .content i,
.buttoni .content .buttoni-text{
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}
.buttoni .content .buttoni-text{
  font-size: 15px;
  margin-left: 8px;
}


/*Button: Add ¨Parts*/
.buttonaddParts{
position: relative;
    height: 40px;
    width: 200px;
    background: #87CEF5;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    overflow: hidden;
    left: 85%;
}
.buttonaddParts.active{
  height: 20px;
  width: 200px;
}
.buttonaddParts::before{
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  height: 100%;
  width: 100%;
  background: #669ab6;
  border-radius: 55px;
  transition: all 3s ease-in-out;
}
.buttonaddParts.active::before{
  animation: layer 3s ease-in-out forwards;
}
@keyframes layer {
  100%{
    left: 0%;
  }
}
.buttonaddParts .content{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
  transition-delay: 0.2s;
  margin: 0;
}
.buttonaddParts.active .content{
  transform: translateY(60px);
}
.buttonaddParts .content i,
.buttonaddParts .content .buttonaddParts-text{
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}
.buttonaddParts .content .buttonaddParts-text{
  font-size: 15px;
  margin-left: 8px;
}


/*Button: Add New Produt*/
.buttonaddProducts{
position: relative;
    height: 40px;
    width: 200px;
    background: #87CEF5;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    overflow: hidden;
    left: 85%;
}
.buttonaddProducts.active{
  height: 20px;
  width: 200px;
}
.buttonaddProducts::before{
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  height: 100%;
  width: 100%;
  background: #669ab6;
  border-radius: 55px;
  transition: all 3s ease-in-out;
}
.buttonaddProducts.active::before{
  animation: layer 3s ease-in-out forwards;
}
@keyframes layer {
  100%{
    left: 0%;
  }
}
.buttonaddProducts .content{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
  transition-delay: 0.2s;
  margin: 0;
}
.buttonaddProducts.active .content{
  transform: translateY(60px);
}
.buttonaddProducts .content i,
.buttonaddProducts .content .buttonaddProducts-text{
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}
.buttonaddProducts .content .buttonaddProducts-text{
  font-size: 15px;
  margin-left: 8px;
}

/*Download Button*/

/* 
.buttonreport .buttonreportdwld{
  position: relative;
  display: inline-block;
  color: #fff;
  padding: 12px 38px;
  background: linear-gradient(90deg, #6616d0, #ac34e7);
  border-radius: 45px;
  margin: 10px;
  font-size: 30px;
  font-weight: 400;
  text-decoration: none;
  box-shadow: 3px 5px rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(0,0,0,0.1);
  overflow: hidden;
}
.buttonreport .buttonreportdwld.two{
  background: linear-gradient(90deg, #025ce3, #4e94fd);
}
.buttonreport .buttonreportdwld .overlay{
  position: absolute;
  background: #fff;
  top: 0;
  left: 0;
  transform: translate(-50%,-50%);
  border-radius: 50%;
  animation: blink 0.5s linear;
}
@keyframes blink {
  0%{
    height: 0px;
    width: 0px;
    opacity: 0.3;
  }
  100%{
    height: 400px;
    width: 400px;
    opacity: 0;
  }
} */
