 <div class="card">
                  <div class="card-header d-flex justify-content-between">
                     <div class="header-title">
                        <h4 class="card-title">Tabs Fill and justify</h4>
                     </div>
                  </div>
                  <div class="card-body">
                     <p>Force your <code>.nav</code>s contents to extend the full available width one of two modifier classes. To proportionately fill all available space with your <code>.nav-item</code>s, use <code>.nav-fill</code>. Notice that all horizontal space is occupied, but not every nav item has the same width.</p>
                     <ul class="nav nav-pills mb-3 nav-fill" id="pills-tab-1" role="tablist">
                        <li class="nav-item">
                           <a class="nav-link active" id="pills-home-tab-fill" data-toggle="pill" href="#pills-home-fill" role="tab" aria-controls="pills-home" aria-selected="true">Home</a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link" id="pills-profile-tab-fill" data-toggle="pill" href="#pills-profile-fill" role="tab" aria-controls="pills-profile" aria-selected="false">Profile</a>
                        </li>
                       
                     </ul>
                     <div class="tab-content" id="pills-tabContent-1">
                        <!--here start the products entry form-->
                        <div class="tab-pane fade show active" id="pills-home-fill" role="tabpanel" aria-labelledby="pills-home-tab-fill">
                           <div class="">
                                 <form class="form"  autocomplete="off"  data-toggle="validator" id='form-wizard1'>
                      
                                     <ul id="top-tab-list" class="p-0">
                           <li class="active" id="account" >
                              <a href="javascript:void();">
                              <i class="ri-lock-unlock-line"></i><span>Product Details</span>
                              </a>
                           </li>
                        </ul>
                        <!-- fieldsets -->
                        
                        <fieldset >
                           <div class="form-card text-left">
                            <div class="row error"> 
                                 <h3>
                                    해당 데이터를 확인할 권한이 없습니다
                                </h3>
                              </div>
                              <!-- class="row adminelement" style="display: none;" -->
                              <div class="row" class="row">
                                 <div class="col-7">
                                    <h3 class="mb-4">Product Details:</h3>
                                 </div>
                                 <!-- <div class="col-5">
                                    <h2 class="steps">Step 1 - 4</h2>
                                 </div> -->
                              </div>
                              <div class="row">
                                 
                          <div class="row">
                            
                               
                                   <div class="col-md-12">                      
                                    <div class="form-group">
                                        <label>Product Category *</label>
                                         <select class="editpartsName form-control" id="editproductCategory" name="productCategory" data-errors="Please Enter Product Category."  required>
                              
                                           
                                           </select>
                                        <!-- <input type="text" class="form-control" id='editproductName' placeholder="Enter Product Name" data-errors="Please Enter Product Name." name="productName" required> -->
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>                   
                             
                                <div class="col-md-6">                      
                                    <div class="form-group">
                                        <label>Product Name *</label>
                                        <input type="text" class="form-control" id='editproductName' placeholder="Enter Product Name" data-errors="Please Enter Product Name." name="productName" required>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>    
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Product Number</label>
                                        <input type="text" class="form-control"  id='productNumber'placeholder="Enter Product Number" data-errors="Please product number." name="editProductNumber" required>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div> 
                                <div class="col-md-6"> 
                                    <div class="form-group">
                                        <label>Product Specs</label>
                                        <input type="text" class="form-control" id='editproductSpecs' placeholder="Enter Product Specs" data-errors="Please Product specs." name="productSpecs" required>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div> 
                                <div class="col-md-6"> 
                                    <div class="form-group">
                                        <label>Weight (g) *</label>
                                        <input type="number" class="form-control" id='editproductWeight'placeholder="Enter Code" data-errors="Please product weight." name="productWeight" required>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div> 
                                   <div class="col-md-12">
                                    <div class="form-group">
                                     <label>Product Class</label>
                                        <input type="text" class="form-control" id='editproductClass'placeholder="Enter Code" data-errors="Please Enter Code." name="productClass" required>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                               
                                <!-- <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Image</label>
                                        <input type="file" class="form-control image-file" style="height: fit-content;" name="pic" accept="image/*">
                                    </div>
                                </div> -->
                            </div>   

                              </div>
                           </div>
                               <button  id="edit" class="btn btn-primary btn-light  previous action-button-previous float-right mr-3" value="Previous" >Edit Product</button>
                        </fieldset>
                   </form>
                 </div>
                        </div>
                         <!--here ends the products entry form-->
                        <div class="tab-pane fade" id="pills-profile-fill" role="tabpanel" aria-labelledby="pills-profile-tab-fill">
                           <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        </div>
                     
                     </div>
                  </div>
               </div>